@import "tailwindcss";

@theme {
  --color-cookie-dark: #5a2a17;  /* marrón de fondo: CAMBIAR */
  --color-cookie-light: #ffcfb0; /* durazno claro: CAMBIAR */
  --font-display: var(--font-fredoka), sans-serif;
}

body {
  background: var(--color-cookie-dark);
}
