@import "tailwindcss";

@theme {
  --color-cookie-dark: #632713;   
  --color-cookie-orange: #ec6426; 
  --color-cookie-gold: #f8a91f;   
  --color-cookie-light: #fde3cf;  
}


@theme inline {
  --font-display: var(--font-jua), sans-serif;     
  --font-body: var(--font-varela), sans-serif;     
}

body {
  background: var(--color-cookie-dark);
  font-family: var(--font-varela), sans-serif; 
  font-synthesis-weight: none;
}

h1,
h2,
h3,
h4,
a,
button {
  font-family: var(--font-jua), sans-serif;
}